default=enu
[enu]
codepage=1252
R_Name=Divergence on MACD Signals
R_Description=Signals BUY when MACD detects trend up and SELL when MACD detects trend down. 
R_ParamGroup=Parameters
R_TradeGroup=Trade
R_DivergenceGroup=Divergence
R_RiskManagementGroup=Risk management
R_SN=Short EMA periods
R_LN=Long EMA periods
R_IN=Signal line periods
R_PriceType=Price type
R_Bid=Bid
R_Ask=Ask
R_PeriodType=Period size
R_tradeSize=Trade Size (in lots)
R_isNeedAutoTrading=Is need to use autotrading?
R_isNeedToConfirm=Is need to confirm trends moving?
R_isNeedRiskManagement=Is need to perform risks management?
R_delta=Delta of price movement
R_toSELL=to SELL
R_toBUY=to BUY
ERR_TICK=The signal can't be applied on the tick data.
