default=enu
[enu]
codepage=1252
name=%R Larry Williams
description=Uses Stochastics to determine overbought and oversold levels.
param_N_name=Number of periods
param_N_description=The number of periods.
param_clrRLW_name=Line color
param_clrRLW_description=The color of the %R Larry Williams line.
param_widthRLW_name=Line width
param_widthRLW_description=The width of the %R Larry Williams line.
param_styleRLW_name=Line style
param_styleRLW_description=The style of the %R Larry Williams line.
param_level_overboughtsold_width_name=Level lines width
param_level_overboughtsold_width_description=The width of the overbought/oversold levels.
param_level_overboughtsold_style_name=Level lines style
param_level_overboughtsold_style_description=The style of the overbought/oversold levels.
param_level_overboughtsold_color_name=Level lines color
param_level_overboughtsold_color_description=The color of the overbought/oversold levels.
param_level_overbought_name=Overbought level
param_level_overbought_description=The overbought level.
param_level_oversold_name=Oversold level
param_level_oversold_description=The oversold level.
error_bought_bigger_sold=The overbought level must be greater than the oversold level.

[ara]
codepage=1256
name=مؤشر لاري وليامس
description=يستخدم ستوكاستيك ليتعرف على مستويات كثيرة الشراء أو البيع
param_N_name=عدد الفترات
param_N_description=عدد الفترات
param_clrRLW_name=لون الخط
param_clrRLW_description=لون الخط لمؤشر لاري وليامس.
param_widthRLW_name=عرض الخط
param_widthRLW_description=عرض الخط لمؤشر لاري وليامس.
param_styleRLW_name=نوع الخط
param_styleRLW_description=نوع الخط لمؤشر لاري وليامس.
param_level_overboughtsold_width_name=عرض خطوط المستوى
param_level_overboughtsold_width_description=عرض مستويات زيادة الشراء/زيادة البيع.
param_level_overboughtsold_style_name=نوع خطوط المستوى
param_level_overboughtsold_style_description=نوع مستويات زيادة الشراء/زيادة البيع.
param_level_overboughtsold_color_name=لون خطوط المستوى
param_level_overboughtsold_color_description=لون مستويات زيادة الشراء/زيادة البيع.
param_level_overbought_name=مستوى زيادة الشراء
param_level_overbought_description=مستوى زيادة الشراء.
param_level_oversold_name=مستوى زيادة البيع
param_level_oversold_description=مستوى زيادة البيع.
error_bought_bigger_sold=الثابت الخاص بزيادة الشراء يجب أن يكون أكبر من الثابت الخاص يزيادة البيع

[chs]
codepage=936
name=威廉指标W%R
description=使用随机原理判断超买及超卖水平
param_N_name=时期数目
param_N_description=时期数目
param_clrRLW_name=线颜色
param_clrRLW_description=威廉指标线颜色
param_widthRLW_name=线宽
param_widthRLW_description=威廉指标W%R线的宽度
param_styleRLW_name=线样式
param_styleRLW_description=威廉指标W%R线样式
param_level_overboughtsold_width_name=水平线宽度
param_level_overboughtsold_width_description=超买/超卖水平的线宽
param_level_overboughtsold_style_name=水平线样式
param_level_overboughtsold_style_description=超买/超卖水平的线样式
param_level_overboughtsold_color_name=水平线颜色
param_level_overboughtsold_color_description=超买/超卖水平的线颜色
param_level_overbought_name=超买水平
param_level_overbought_description=超买水平
param_level_oversold_name=超卖水平
param_level_oversold_description=超卖水平
error_bought_bigger_sold=超买水平的参数必须大于超卖水平

[cht]
codepage=950
name=威廉指標W%R
description=使用隨機原理判斷超買及超賣水平
param_N_name=時期數目
param_N_description=時期數目
param_clrRLW_name=線顏色
param_clrRLW_description=威廉指標線顏色
param_widthRLW_name=線寬
param_widthRLW_description=威廉指標W%R線的寬度
param_styleRLW_name=線樣式
param_styleRLW_description=威廉指標W%R線樣式
param_level_overboughtsold_width_name=水平線寬度
param_level_overboughtsold_width_description=超買/超賣水平的線寬
param_level_overboughtsold_style_name=水平線樣式
param_level_overboughtsold_style_description=超買/超賣水平的線樣式
param_level_overboughtsold_color_name=水平線顏色
param_level_overboughtsold_color_description=超買/超賣水平的線顏色
param_level_overbought_name=超買水平
param_level_overbought_description=超買水平
param_level_oversold_name=超賣水平
param_level_oversold_description=超賣水平
error_bought_bigger_sold=超買水平的參數必須大於超賣水平

[ctt]
codepage=950
name=威廉指標W%R
description=使用隨機原理判斷超買及超賣水平
param_N_name=時期數目
param_N_description=時期數目
param_clrRLW_name=線顏色
param_clrRLW_description=威廉指標線顏色
param_widthRLW_name=
param_widthRLW_description=
param_styleRLW_name=
param_styleRLW_description=
param_level_overboughtsold_width_name=
param_level_overboughtsold_width_description=
param_level_overboughtsold_style_name=
param_level_overboughtsold_style_description=
param_level_overboughtsold_color_name=
param_level_overboughtsold_color_description=
param_level_overbought_name=
param_level_overbought_description=
param_level_oversold_name=
param_level_oversold_description=
error_bought_bigger_sold=

[deu]
codepage=1252
name=Williams %R
description=Mithilfe von Stochastik werden Ebene von Ueberkaufen und Ueberverkaufen bestimmt
param_N_name=Anzahl der Perioden
param_N_description=Anzahl der Perioden
param_clrRLW_name=Linienfarbe
param_clrRLW_description=Farbe der %R Larry Williams Linie
param_widthRLW_name=Linienbreite
param_widthRLW_description=Die Breite der %R Larry Williams Linie
param_styleRLW_name=Linienstil
param_styleRLW_description=Der Stil der %R Larry Williams Linie
param_level_overboughtsold_width_name=Level der Linienbreite
param_level_overboughtsold_width_description=Die Breite des überkauften und überverkauften Bereichs
param_level_overboughtsold_style_name=Level des Linienstils
param_level_overboughtsold_style_description=Der Stil des überkauften und überverkauften Bereichs
param_level_overboughtsold_color_name=Level der Linienfarbe
param_level_overboughtsold_color_description=Die Farbe des überkauften und überverkauften Bereichs
param_level_overbought_name=Überkauftes Level
param_level_overbought_description=Das überkaufte Level
param_level_oversold_name=Überverkauftes Level
param_level_oversold_description=Das überverkaufte Level
error_bought_bigger_sold=Der überkaufte Parameter muss größer als überverkauft sein

[esp]
codepage=1252
name=%R Larry Williams
description=Utiliza análisis estocástico para determinar niveles de sobreventa y sobrecompra.
param_N_name=Número de periodos
param_N_description=El número de periodos
param_clrRLW_name=Color de la línea
param_clrRLW_description=El color de la línea de %R Larry Williams
param_widthRLW_name=Amplitud del alinea
param_widthRLW_description=La amplitud de la línea de %R Larry Williams.
param_styleRLW_name=Estilo de la línea
param_styleRLW_description=El estilo de la línea de %R Larry Williams.
param_level_overboughtsold_width_name=Amplitud de los niveles de las líneas
param_level_overboughtsold_width_description=La amplitud de los niveles de sobrecompra/sobreventa.
param_level_overboughtsold_style_name=Estilos de el nivel de las líneas
param_level_overboughtsold_style_description=El estilo de los niveles de sobrevender/sobrecompra.
param_level_overboughtsold_color_name=Color de los niveles de las líneas
param_level_overboughtsold_color_description=El color de los niveles de sobrecompra/sobreventa.
param_level_overbought_name=Nivel de sobrecompra
param_level_overbought_description=El nivel de sobrecompra
param_level_oversold_name=Nivel de sobreventa
param_level_oversold_description=El nivel de sobreventa
error_bought_bigger_sold=El parámetro de sobrecompra debe de ser mayor que el parámetro de sobreventa.

[fra]
codepage=1252
name=%R Larry Williams
description=Utilise les Stochastiques pour déterminer les niveaux de surachetés et de surventes.
param_N_name=Nombre de périodes
param_N_description=Le nombre de périodes.
param_clrRLW_name=Couleur de la ligne
param_clrRLW_description=La ligne du %R Larry Williams.
param_widthRLW_name=Largeur de la ligne
param_widthRLW_description=La largeur de la ligne %R Larry Williams
param_styleRLW_name=Style de la ligne
param_styleRLW_description=Le style de la ligne %R Larry Williams
param_level_overboughtsold_width_name=Largeur des lignes de niveau
param_level_overboughtsold_width_description=La largeur des niveaux de surachat/survente
param_level_overboughtsold_style_name=Style des lignes de niveaux
param_level_overboughtsold_style_description=La style des niveaux de surachat/survente
param_level_overboughtsold_color_name=Couleur des lignes de niveaux
param_level_overboughtsold_color_description=La couleur des niveaux de surachat/survente
param_level_overbought_name=Niveau de surachat
param_level_overbought_description=Le niveau de surachat
param_level_oversold_name=Niveau de survente
param_level_oversold_description=Le niveau de survente
error_bought_bigger_sold=Le paramètre de surachat doit être supérieur à celui de survente

[jpn]
codepage=932
name=ラリー・ウィリアムズ%R 指数
description=ストキャスティックを使用して買われ過ぎ、売られ過ぎのレベルを判断します
param_N_name=期間数
param_N_description=期間数
param_clrRLW_name=ラインの色
param_clrRLW_description=ラリー・ウィリアムズ%R 指数の色
param_widthRLW_name=ラインの幅
param_widthRLW_description=%R Larry Williamsラインの幅
param_styleRLW_name=ラインのスタイル
param_styleRLW_description=%R Larry Williamsラインのスタイル
param_level_overboughtsold_width_name=水準ラインの幅
param_level_overboughtsold_width_description=買われすぎ/売られすぎ水準ラインの幅
param_level_overboughtsold_style_name=水準ラインのスタイル
param_level_overboughtsold_style_description=買われすぎ/売られすぎ水準ラインのスタイル
param_level_overboughtsold_color_name=水準の色
param_level_overboughtsold_color_description=買われすぎ/売られすぎ水準ラインの色
param_level_overbought_name=買われすぎ水準
param_level_overbought_description=買われすぎの水準
param_level_oversold_name=売られすぎ水準
param_level_oversold_description=売られすぎの水準
error_bought_bigger_sold=買いすぎレベルは売りすぎレベルより上でなくてはならない

[kor]
codepage=949
name=RLW (%R Larry Williams)
description=Stochastics 을 사용하여 overbought 과 oversold 레벨을 측정함
param_N_name=기간의 개수
param_N_description=기간의 개수
param_clrRLW_name=선 색상
param_clrRLW_description=%R Larry Williams 선의 색상
param_widthRLW_name=
param_widthRLW_description=
param_styleRLW_name=
param_styleRLW_description=
param_level_overboughtsold_width_name=
param_level_overboughtsold_width_description=
param_level_overboughtsold_style_name=
param_level_overboughtsold_style_description=
param_level_overboughtsold_color_name=
param_level_overboughtsold_color_description=
param_level_overbought_name=
param_level_overbought_description=
param_level_oversold_name=
param_level_oversold_description=
error_bought_bigger_sold=

[rus]
codepage=1251
name=Процентный диапазон Вильямса
description=Определяет уровни перекупленности/перепроданности, используя стохастики.
param_N_name=Количество периодов
param_N_description=Количество периодов.
param_clrRLW_name=Цвет линии
param_clrRLW_description=Цвет линии процентного диапазона Вильямса.
param_widthRLW_name=Ширина линии
param_widthRLW_description=Ширина линии процентного диапазона Вильямса.
param_styleRLW_name=Стиль линии
param_styleRLW_description=Стиль линии процентного диапазона Вильямса.
param_level_overboughtsold_width_name=Ширина линий уровней
param_level_overboughtsold_width_description=Ширина линий уровней перекупленности/перепроданности.
param_level_overboughtsold_style_name=Стиль линий уровней
param_level_overboughtsold_style_description=Стиль линий уровней перекупленности/перепроданности.
param_level_overboughtsold_color_name=Цвет линий уровней
param_level_overboughtsold_color_description=Цвет линий уровней перекупленности/перепроданности.
param_level_overbought_name=Уровень перекупленности
param_level_overbought_description=Уровень перекупленности.
param_level_oversold_name=Уровень перепроданности
param_level_oversold_description=Уровень перепроданности.
error_bought_bigger_sold=Уровень перекупленности должен быть выше уровня перепроданности.

[tur]
codepage=1254
name=Larry Williams %R
description=Stokastiği kullanarak aşırı alış ve aşırı satış bölgelerini belirler.
param_N_name=Periyot sayısı
param_N_description=Periyot sayısı.
param_clrRLW_name=Çizgi Rengi
param_clrRLW_description=Larry Williams %R göstergesi çizgi rengi.
param_widthRLW_name=Çizgi kalınlığı
param_widthRLW_description=Larry Williams %R göstergesi çizgi kalınlığı.
param_styleRLW_name=Çizgi biçimi
param_styleRLW_description=Larry Williams %R göstergesi çizgi biçimi.
param_level_overboughtsold_width_name=Seviye çizgilerinin kalınlığı
param_level_overboughtsold_width_description=Aşırı alış/aşırı satış seviye çizgilerinin kalınlığı.
param_level_overboughtsold_style_name=Seviye çizgilerinin biçimi
param_level_overboughtsold_style_description=Aşırı alış/aşırı satış seviye çizgilerinin biçimi.
param_level_overboughtsold_color_name=Seviye çizgilerinin rengi
param_level_overboughtsold_color_description=Aşırı alış/aşırı satış seviye çizgilerinin rengi.
param_level_overbought_name=Aşırı alış seviyesi
param_level_overbought_description=Aşırı alış seviyesi.
param_level_oversold_name=Aşırı satış seviyesi
param_level_oversold_description=Aşırı satış seviyesi.
error_bought_bigger_sold=Aşırı alış parametresi aşırı satıştan büyük olmalı.

[ita]
codepage=1252
name=%R Larry Williams
description=Utilizza gli stocastici per determinare i livelli di ipercomprato e ipervenduto
param_N_name=Numero di periodi
param_N_description=Il numero di periodi
param_clrRLW_name=Colore della linea
param_clrRLW_description=Il colore della linea della %R Larry Williams
param_widthRLW_name=Spessore della linea
param_widthRLW_description=Lo spessore della linea %R Larry Williams
param_styleRLW_name=Stile della linea
param_styleRLW_description=Lo stile della linea %R Larry Williams
param_level_overboughtsold_width_name=Spessore delle linee dei livelli
param_level_overboughtsold_width_description=Lo spessore dei livelli di ipercomprato/ipervenduto.
param_level_overboughtsold_style_name=Stile delle linee dei livelli
param_level_overboughtsold_style_description=Lo stile dei livelli di ipercomprato/ipervenduto.
param_level_overboughtsold_color_name=Colore delle linee dei livelli
param_level_overboughtsold_color_description=Il colore dei livelli di ipercomprato/ipervenduto.
param_level_overbought_name=Livello di ipercomprato
param_level_overbought_description=Il livello di ipercomprato
param_level_oversold_name=Livello di ipervenduto
param_level_oversold_description=Il livello di ipervenduto
error_bought_bigger_sold=Il parametro di ipercomprato deve essere maggiore di quello di ipervenduto

[heb]
codepage=1255
name=לארי ויליאמס %R
description=עושה שימוש בסטוכאסטיקה על מנת לזהות מכירת-יתר וקניית-יתר.
param_N_name=מספר תקופות
param_N_description=מספר התקופות.
param_clrRLW_name=צבע קו
param_clrRLW_description=צבע הקו של מדד לארי ויליאמס %R.
param_widthRLW_name=רוחב קו
param_widthRLW_description=רוחב הקו של מדד לארי ויליאמס %R.
param_styleRLW_name=סגנון קו
param_styleRLW_description=סגנון הקו של מדד לארי ויליאמס %R.
param_level_overboughtsold_width_name=רוחב קווי רמה
param_level_overboughtsold_width_description=רוחב קווי רמות מכירת-יתר\קניית-יתר
param_level_overboughtsold_style_name=סוג קווי רמה
param_level_overboughtsold_style_description=סוג קווי רמות מכירת-יתר\קניית-יתר
param_level_overboughtsold_color_name=צבע קווי רמה
param_level_overboughtsold_color_description=צבע קווי רמות מכירת-יתר\קניית-יתר
param_level_overbought_name=רמת קניית-יתר
param_level_overbought_description=רמת קניית-היתר
param_level_oversold_name=רמת מכירת-יתר
param_level_oversold_description=רמת מכירת-היתר
error_bought_bigger_sold=ערך קניית היתר צריך להיות גדול ממכירת היתר

[pol]
codepage=1250
name=Wiliams %R
description=Używa stochastyki do określania poziomów wykupienia i wyprzedania
param_N_name=Liczba okresów
param_N_description=Liczba okresów
param_clrRLW_name=Kolor linii
param_clrRLW_description=Kolor linii Wiliams %R.
param_widthRLW_name=Grubość linii
param_widthRLW_description=Grubość linii Wiliams %R.
param_styleRLW_name=Styl linii
param_styleRLW_description=Styl linii Wiliams %R.
param_level_overboughtsold_width_name=Grubość linii poziomych
param_level_overboughtsold_width_description=Grubość linii poziomów wykupienia/wyprzedania
param_level_overboughtsold_style_name=Styl linii poziomych
param_level_overboughtsold_style_description=Styl linii poziomów wykupienia/wyprzedania
param_level_overboughtsold_color_name=Kolor linii poziomych
param_level_overboughtsold_color_description=Kolor linii poziomów wykupienia/wyprzedania
param_level_overbought_name=Poziom wykupienia
param_level_overbought_description=Poziom wykupienia.
param_level_oversold_name=Poziom wyprzedania
param_level_oversold_description=Poziom wyprzedania.
error_bought_bigger_sold=Wysokość poziomu wykupienia musi być większa, niż poziomu wyprzedania

[cze]
codepage=1250
name=Williams %R
description=Používá Stochastics k určení překoupených a přeprodaných úrovní.
param_N_name=Počet period
param_N_description=Počet period.
param_clrRLW_name=Barva linky
param_clrRLW_description=Barva linky % Larry Williams.
param_widthRLW_name=Šíře linky
param_widthRLW_description=Šíře linky %R Larry Williams.
param_styleRLW_name=Styl linky
param_styleRLW_description=Styl linky %R Larry Williams.
param_level_overboughtsold_width_name=Šíře úrovňové linky
param_level_overboughtsold_width_description=Šíře úrovně překoupení/přeprodání.
param_level_overboughtsold_style_name=Styl úrovňové linky
param_level_overboughtsold_style_description=Styl úrovně překoupení/přeprodání.
param_level_overboughtsold_color_name=Barva úrovňové linky
param_level_overboughtsold_color_description=Barva úrovně překoupení/přeprodání.
param_level_overbought_name=Úroveň překoupení.
param_level_overbought_description=Úroveň překoupení.
param_level_oversold_name=Úroveň přeprodání.
param_level_oversold_description=Úroveň přeprodání.
error_bought_bigger_sold=Parametr překoupení musí být větší než přeprodání.

[por]
codepage=1252
name=%R Larry Williams
description=Utiliza análise estocástico para determinar niveis de sobrevenda y sobrecompra.
param_N_name=Número de períodos
param_N_description=O número de períodos
param_clrRLW_name=Cor da linha
param_clrRLW_description=A cor da linha de %R Larry Williams
param_widthRLW_name=Largura da linha
param_widthRLW_description=A largura da linha de %R Larry Williams
param_styleRLW_name=Estilo da linha
param_styleRLW_description=O estilo da linha de %R Larry Williams
param_level_overboughtsold_width_name=Largura das linhas de níveis
param_level_overboughtsold_width_description=A largura dos níveis sobre-comprados/sobre-vendidos.
param_level_overboughtsold_style_name=Estilo de linhas de níveis
param_level_overboughtsold_style_description=O estilo dos níveis sobre-comprados/sobre-vendidos.
param_level_overboughtsold_color_name=Cor das linhas de níveis
param_level_overboughtsold_color_description=A cor dos níveis sobre-comprados/sobre-vendidos.
param_level_overbought_name=Nível sobre-comprado.
param_level_overbought_description=O nível sobre-comprado.
param_level_oversold_name=Nível sobre-vendido.
param_level_oversold_description=O nível sobre-vendido.
error_bought_bigger_sold=O parâmetro sobre-comprado deve ser maior do que sobre-vendido.

[gre]
codepage=1253
name=%R Larry Williams
description=Χρησιμοποιεί το δείκτη Stochastics για να προσδιορίσει τα υπεραγορασμένα και υπερπουλημένα επίπεδα.
param_N_name=Αριθμός περιόδων
param_N_description=Ο αριθμός των περιόδων.
param_clrRLW_name=Χρώμα γραμμής
param_clrRLW_description=Το χρώμα της γραμμής %R Larry Williams.
param_widthRLW_name=Πάχος γραμμής
param_widthRLW_description=Το πάχος της γραμμής %R Larry Williams
param_styleRLW_name=Στυλ γραμμής
param_styleRLW_description=Το στυλ της γραμμής %R Larry Williams
param_level_overboughtsold_width_name=Πάχος γραμμών επιπέδου
param_level_overboughtsold_width_description=Το πάχος των υπεραγορασμένων/υπερπουλημένων επιπέδων
param_level_overboughtsold_style_name=Στυλ γραμμών επιπέδου
param_level_overboughtsold_style_description=Το στυλ των υπεραγορασμένων/υπερπουλημένων επιπέδων
param_level_overboughtsold_color_name=Χρώμα γραμμών επιπέδου
param_level_overboughtsold_color_description=Το χρώμα των υπεραγορασμένων/υπερπουλημένων επιπέδων
param_level_overbought_name=Υπεραγωρασμένο επίπεδο
param_level_overbought_description=Το υπεραγορασμένο επίπεδο
param_level_oversold_name=Υπερπουλημένο επίπεδο
param_level_oversold_description=Το υπερπουλημένο επίέδο
error_bought_bigger_sold=Το υπεραγορασμένο επίπεδο πρέπει να είναι μεγαλύτερο από το υπερπουλημένο.

