include=common.lua.rc
default=enu
[enu]
codepage=1252
R_NAME=Sample moving average strategy
R_DESCRIPTION=Enters long when the Fast MA crosses over the Slow MA, and enters short when the Fast MA crosses under the Slow MA.
R_PARAMS_FMA=Fast Moving Average Parameters
R_PARAMS_SMA=Slow Moving Average Parameters
R_MA_METHOD=Moving Average method
R_MA_METHOD_D=The methods marked by asterisk(*) must be downloaded and installed from the fxcodebase.com site.
R_MA_N=Number of periods
R_MA_S=Shift
R_MA_S_D=Shift of the moving average value into the future expressed in periods.
R_MA_P=Price
R_MA_P_OPEN=Open
R_MA_P_HIGH=High
R_MA_P_LOW=Low
R_MA_P_CLOSE=Close
R_MA_P_MEDIAN=Median
R_MA_P_TYPICAL=Typical
R_MA_P_WEIGHTED=Weighted
R_PARAMS_PRICE=Price
R_TF=Timeframe
R_TR_ALLOWED_D=In case the trading is not allowed, alerts will be shown instead of actual trading.
R_YES=Yes
R_NO=No
R_AMOUNT=Amount
R_TR_L=Set Limit
R_TR_L_D=Leave 0 to not set a limit order on the trades or enter a limit distance in pips.
R_TR_S=Set Stop
R_TR_S_D=Leave 0 to not set a stop order on the trades or enter an initial stop distance in pips.
R_LOT=The amount to trade.
R_ERROR_TICK=The strategy cannot be applied on ticks.
R_ERROR_ACCOUNT=The account to trade must be chosen.
R_ERROR_OFFER=The chosen symbol is not found.
R_ERROR_METHOD=The chosen moving average method is not installed. Please use fxcodebase.com site to download the approriate moving average method.
R_ALLOWEDSIDE=Allowed side
R_ALLOWEDSIDE_D=Allowed side for trading or signaling, can be Sell, Buy or Both
R_BOTH=Both
R_USE_TRAILING_STOP=Use trailing stop

[rus]
codepage=1251
R_NAME=______ _________ __ __________ _______
R_DESCRIPTION=_________ _______ _______, _____ _______ __________ _______ __________ _________ __________ _______ ______ ____, _ ________, _____ _______ __________ _______ __________ _________ __________ _______ _____ _____.
R_PARAMS_FMA=_________ ________ ___________ ________
R_PARAMS_SMA=_________ __________ ___________ ________
R_MA_METHOD=_____ ___________ ________
R_MA_METHOD_D=______, __________ __________ (*), __________ _________ _ _____ fxcodebase.com _ __________.
R_MA_N=__________ ________
R_MA_S=_____
R_MA_S_D=_____ ________ ___________ ________ _ _______, __________ _ ________.
R_MA_P=____
R_MA_P_OPEN=________
R_MA_P_HIGH=________
R_MA_P_LOW=_______
R_MA_P_CLOSE=________
R_MA_P_MEDIAN=_______
R_MA_P_TYPICAL=________
R_MA_P_WEIGHTED=__________
R_PARAMS_PRICE=____
R_TF=______
R_TR_ALLOWED_D=____ ________ __ _________, ______ __________ ________ __ _______ _____ ____________ _______.
R_YES=__
R_NO=___
R_AMOUNT=_____
R_TR_L=__________ _____ _____
R_TR_L_D=________ ________ 0, _____ __ _____________ _____ _____ __ _______, ___ _______ __________ __ _____ ______ _ _______.
R_TR_S=__________ ____ _____
R_TR_S_D=________ ________ 0, _____ __ _____________ ____ _____ __ _______, ___ _______ __________ __ ____ ______ _ _______.
R_LOT=_____ _______.
R_ERROR_TICK=___ _________ __ _____ ____ _________ __ _____.
R_ERROR_ACCOUNT=__________ _______ ____ ___ ________.
R_ERROR_OFFER=_________ ______ __ ______.
R_ERROR_METHOD=_________ _____ ___________ ________ __ __________. __________, ________ ___________ _____ ___________ ________ _ _____ fxcodebase.com.
R_ALLOWEDSIDE=___________ _______
R_ALLOWEDSIDE_D=_______, ___________ ___ ________ _ ____________ ________, _____ ____: _______, _______ ___ ___.
R_BOTH=___
R_USE_TRAILING_STOP=__________ __________ ____

[ara]
codepage=1256
R_NAME=__________ _______ _______ ______ (SMA)
R_DESCRIPTION=_____ ____ _____ ______ _______ _______ ______ ___ _______ _______ ______ ____ _____ ______ _______ _______ ______ ___ _______ _______ ______
R_PARAMS_FMA=_____ _______ _______ ______
R_PARAMS_SMA=_____ _______ _______ ______
R_MA_METHOD=_____ _______ _______
R_MA_METHOD_D=___ _____ ______ _____ ______ _____ ______ ______ (*) __ ____ ____ ______: fxcodebase.com
R_MA_N=___ _______
R_MA_S=_______
R_MA_S_D=_____ ____ _______ _______ ___ ________ ______ ___ ___ ___ _____.
R_MA_P=_____
R_MA_P_OPEN=________
R_MA_P_HIGH=____
R_MA_P_LOW=_____
R_MA_P_CLOSE=_______
R_MA_P_MEDIAN=______
R_MA_P_TYPICAL=_________
R_MA_P_WEIGHTED=______
R_PARAMS_PRICE=_____
R_TF=______ ______
R_TR_ALLOWED_D=____ ___ _______ _____ __ _______ ______ __ ___ ___ ______ ________
R_YES=___
R_NO=__
R_AMOUNT=______
R_TR_L= _____ ___ ____
R_TR_L_D=____ 0 __ ___ ___ __ ____ __ ___ ___ ____ ___ _________ __ ____ _____ ____ _______.
R_TR_S= _____ ___ _______
R_TR_S_D=____ 0 __ ___ ___ __ ____ __ ___ ___ _______ ___ _________ __ ____ _____ _______ _______
R_LOT=____ _______
R_ERROR_TICK=__ ____ _____ ___ ____________ ___ ______ _______ ________. ____ _____ ______ _______.
R_ERROR_ACCOUNT=___ ______ ______ ____ ____ _______ ____.
R_ERROR_OFFER=__ ___ ______ ___ _______ ____ __ _______.
R_ERROR_METHOD=_____ ________ _______ ________ __ ___ _______ ___. ____ _____ ______ ______ fxcodebase.com ____ _____ _____ _______ _______ ________
R_ALLOWEDSIDE=______ _______ __
R_ALLOWEDSIDE_D=______ _______ __ _______ __ ________. __ _____ ______ ______ __ ______
R_BOTH=___ ________
R_USE_TRAILING_STOP=_____ _____ _______

[chs]
codepage=936
R_NAME=_______
R_DESCRIPTION=_________________________________________ ______
R_PARAMS_FMA=________
R_PARAMS_SMA=________
R_MA_METHOD=_______
R_MA_METHOD_D=_____(*)______fxcodebase.com________
R_MA_N=___
R_MA_S=__
R_MA_S_D=________________
R_MA_P=__
R_MA_P_OPEN=__
R_MA_P_HIGH=__
R_MA_P_LOW=__
R_MA_P_CLOSE=__
R_MA_P_MEDIAN=__
R_MA_P_TYPICAL=__
R_MA_P_WEIGHTED=__
R_PARAMS_PRICE=__
R_TF=____
R_TR_ALLOWED_D=__________________________
R_YES=_
R_NO=_
R_AMOUNT=__
R_TR_L=____
R_TR_L_D=______0__________________
R_TR_S=____
R_TR_S_D=______0__________________
R_LOT=____
R_ERROR_TICK=__________
R_ERROR_ACCOUNT=________
R_ERROR_OFFER=_______
R_ERROR_METHOD=______________. ___fxcodebase.com_____________
R_ALLOWEDSIDE=____
R_ALLOWEDSIDE_D=_________________________
R_BOTH=__
R_USE_TRAILING_STOP=______

[cht]
codepage=950
R_NAME=_______
R_DESCRIPTION=_________________________________________ ______
R_PARAMS_FMA=________
R_PARAMS_SMA=________
R_MA_METHOD=_______
R_MA_METHOD_D=_____(*)______fxcodebase.com________
R_MA_N=___
R_MA_S=__
R_MA_S_D=________________
R_MA_P=__
R_MA_P_OPEN=__
R_MA_P_HIGH=__
R_MA_P_LOW=__
R_MA_P_CLOSE=__
R_MA_P_MEDIAN=__
R_MA_P_TYPICAL=__
R_MA_P_WEIGHTED=__
R_PARAMS_PRICE=__
R_TF=____
R_TR_ALLOWED_D=__________________________
R_YES=_
R_NO=_
R_AMOUNT=__
R_TR_L=____
R_TR_L_D=______0__________________
R_TR_S=____
R_TR_S_D=______0__________________
R_LOT=____
R_ERROR_TICK=__________
R_ERROR_ACCOUNT=________
R_ERROR_OFFER=_______
R_ERROR_METHOD=______________. ___fxcodebase.com_____________
R_ALLOWEDSIDE=____
R_ALLOWEDSIDE_D=_________________________
R_BOTH=__
R_USE_TRAILING_STOP=______

[cze]
codepage=1250
R_NAME=Vzor strategie klouzavého pr_m_ru
R_DESCRIPTION=Vstupuje do dlouhých pozic, když rychlý klouzavý pr_m_r p_ekro_í zespodu pomalý klouzavý pr_m_r a vstupuje do krátkých pozic, když rychlý klouzavý pr_m_r p_ekro_í zeshora pomalý klouzavý pr_m_r.
R_PARAMS_FMA=Parametry Fast Moving Average
R_PARAMS_SMA=Parametry Slow Moving Average
R_MA_METHOD=Typ klouzavého pr_m_ru
R_MA_METHOD_D=Metody ozna_ené hv_zdi_kou (*) musí být staženy a nainstalovány ze stránky fxcodebase.com.
R_MA_N=Po_et period
R_MA_S=Posun
R_MA_S_D=Posun hodnot klouzavého pr_m_ru do budoucnosti vyjád_ený v po_tu period.
R_MA_P=Cena
R_MA_P_OPEN=Otevírací cena
R_MA_P_HIGH=Maximum
R_MA_P_LOW=Minimum
R_MA_P_CLOSE=Zavírací cena
R_MA_P_MEDIAN=Medián
R_MA_P_TYPICAL=Typická cena
R_MA_P_WEIGHTED=Vážená cena
R_PARAMS_PRICE=Cena
R_TF=_asový rámec
R_TR_ALLOWED_D=V p_ípad_, že obchodování není možné, místo obchodování se zobrazí alert.
R_YES=Ano
R_NO=Ne
R_AMOUNT=Objem
R_TR_L=Nastavit limitní pokyn
R_TR_L_D=Ponechejte 0, pokud nechcete na obchody nastavovat limit pokyn nebo vložte po_áte_ní vzdálenost limitu v pipech.
R_TR_S=Nastavit stop pokyn
R_TR_S_D=Ponechejte 0, pokud nechcete na obchody nastavovat stop pokyn nebo vložte po_áte_ní vzdálenost stopu v pipech.
R_LOT=Objem k obchodování
R_ERROR_TICK=Signál nem_že být použit na tick periodu
R_ERROR_ACCOUNT=Musí být vybrán ú_et pro obchodování.
R_ERROR_OFFER=Zvolená nabídka není nalezena.
R_ERROR_METHOD=Vybraná metoda klouzavého pr_m_ru není nainstalovaná. Prosím použijte ke stažení fxcodebase.com.
R_ALLOWEDSIDE=Povolit dlouhé/krátké pozice
R_ALLOWEDSIDE_D=Povolení vstupu jen do dlouhých pozic, jen do krátkých pozic nebo do dlouhých i krátkých pozic.
R_BOTH=Dlouhé i krátké pozice
R_USE_TRAILING_STOP=Nastavit trailing stop

[esp]
codepage=1252
R_NAME=Estrategia de promedio móvil
R_DESCRIPTION=La estrategia entra en largo rápido MA y cruza lento por encima de MA, y entra corto cuando el MA cruza rápido por debajo del MA lento.
R_PARAMS_FMA=Parámetros de Promedio Móvil Rápido
R_PARAMS_SMA=Parámetros de Promedio Móvil Lento
R_MA_METHOD=Método de Promedio Móvil
R_MA_METHOD_D=Los métodos marcados con el asterisco(*) deben de ser descargados e instalados desde fxcodebase.com.
R_MA_N=Numero de barras
R_MA_S=Movimiento
R_MA_S_D=Movimiento del valor de promedio móvil en los futuros expresados en barras.
R_MA_P=Precio
R_MA_P_OPEN=Abierto
R_MA_P_HIGH=Alto
R_MA_P_LOW=Bajo
R_MA_P_CLOSE=Cierre
R_MA_P_MEDIAN=Mediana
R_MA_P_TYPICAL=Tradicional
R_MA_P_WEIGHTED=Ponderado
R_PARAMS_PRICE=Precio
R_TF=Periodo de tiempo
R_TR_ALLOWED_D=En el caso que el operar no sea permitido, una alerta aparecerá en lugar de la operación real
R_YES=Sí
R_NO=No
R_AMOUNT=Monto
R_TR_L=Establecer una orden de limite
R_TR_L_D=Fijar 0 para no fijar una orden de limite a las operaciones o para incluir una distancia en pips.
R_TR_S=Establecer una orden de stop
R_TR_S_D=Fijar 0 para no fijar una orden de stop a las operaciones o incluir una distancia inicial del stop en pips
R_LOT=Monto para operar
R_ERROR_TICK=Bajo
R_ERROR_ACCOUNT=Debe de elegir la cuenta que va a ser operada.
R_ERROR_OFFER=La oferta elegida no se ha encontrado.
R_ERROR_METHOD=El método elegido de Promedio Móvil no se encuentra instalado. Por favor ingrese al sitio fxcodebase.com para descargar el método apropiado de Promedio Móvil
R_ALLOWEDSIDE=Lugar Permitido
R_ALLOWEDSIDE_D=Lugar Permitido para operar o señalizar, puede ser comprar, vender o ambos.
R_BOTH=Ambos
R_USE_TRAILING_STOP=Establezca un stop fluctuante

[fra]
codepage=1252
R_NAME=Stratégie exemple sur moyenne mobile
R_DESCRIPTION=La stratégie entre à l'achat lorsque la MA passe au dessus de la MA lente, et entre à la vente lorsque la MA rapide passe en dessous de la MA lente
R_PARAMS_FMA=Paramètres de Moyenne mobile rapide
R_PARAMS_SMA=Paramètres de Moyenne mobile lente
R_MA_METHOD=Méthode de moyenne mobile
R_MA_METHOD_D=Les méthodes marquées par une astérixe(*) doivent être téléchargées et installées depuis le site fxcodebase.com
R_MA_N=Le nombre de barres
R_MA_S=Décalage
R_MA_S_D=Décalage de la valeur de moyenne mobile dans le futur exprimé en barres
R_MA_P=Prix:
R_MA_P_OPEN=Ouvrir
R_MA_P_HIGH=Haut
R_MA_P_LOW=Bas
R_MA_P_CLOSE=Fermer
R_MA_P_MEDIAN=Médiane
R_MA_P_TYPICAL=Typique
R_MA_P_WEIGHTED=Pondéré
R_PARAMS_PRICE=Prix:
R_TF=Horizon de temps
R_TR_ALLOWED_D=Au cas où le t-rading n'est pas permis, une alerte sera affichée à la place de trading réel
R_YES=Oui
R_NO=Non
R_AMOUNT=Montant
R_TR_L=Placer ordre limite
R_TR_L_D=Mettre 0 à ne pas mettre d'ordre limite sur les trades ou entrer une distance limite en pips
R_TR_S=Placer ordre stop
R_TR_S_D=Mettre 0 à ne pas mettre d'ordre stop sur les trades ou entrer une distance stop en pips
R_LOT=Montant à trader
R_ERROR_TICK=La stratégie ne peut être appliquée à des ticks
R_ERROR_ACCOUNT=Le compte à trader doit être choisi
R_ERROR_OFFER=L'offre choisie n'est pas trouvée
R_ERROR_METHOD=La méthode de moyenne mobile choisie n'est pas installée. Veuillez utiliser le site fxcodebase.com pour télécharger la méthode appropriée de moyenne mobile
R_ALLOWEDSIDE=Sens permis
R_ALLOWEDSIDE_D=Sens permis pour le trading ou les signaux, peut être Vendre, Acheter ou les Deux
R_BOTH=Les deux
R_USE_TRAILING_STOP=Placer stop suiveur

[gre]
codepage=1253
R_NAME=_ __________ ___ _______ _____ ____
R_DESCRIPTION=_ __________ _________ __ ____ ______ ____ _ ________ ___ _______________ ____ ___ ___ ____ ___, ___ _________ __ ____ _______ ____ _ ________ ___ ______________ ____ ___ ___ ____ ___.
R_PARAMS_FMA=__________ ________ _______ _____ ____
R_PARAMS_SMA=__________ _____ _______ _____ ____
R_MA_METHOD=_______ _______ _____ ____
R_MA_METHOD_D=__ _______ ___ _____ _________ (*) ______ __ _____________ ___ __ site fxcodebase.com.
R_MA_N=_ _______ ___ ______
R_MA_S=______
R_MA_S_D=______ ___ _____ ___ _______ _____ ____ __ __________, ____________ __ _______.
R_MA_P=____
R_MA_P_OPEN=_______
R_MA_P_HIGH=_____
R_MA_P_LOW=______
R_MA_P_CLOSE=________
R_MA_P_MEDIAN=________
R_MA_P_TYPICAL=_______
R_MA_P_WEIGHTED=____________
R_PARAMS_PRICE=____
R_TF=_______ ________
R_TR_ALLOWED_D=__ _________ ___ __ __________ ___ ___________, __ __________ ___ __________ ____ ___ __ ______________ ___ __________.
R_YES=___
R_NO=___
R_AMOUNT=____
R_TR_L=__________ _______ limit
R_TR_L_D=__________ __ 0 (_____), ___ __ ___ _______ ______ limit ____ __________, _ ______ ________ limit __ pips.
R_TR_S=__________ _______ stop
R_TR_S_D=__________ __ 0 (_____), ___ __ ___ _______ ______ stop ____ __________, _ ______ ___ ______ ________ stop __ pips.
R_LOT=____ __________.
R_ERROR_TICK=_ __________ __ ______ __ __________ __ ticks.
R_ERROR_ACCOUNT=______ __ _________ _ ___________ ___ ___________ ___ __________.
R_ERROR_OFFER=_ ________ ___ _____ ________ __ _______.
R_ERROR_METHOD=H __________ _______ _______ _____ ____ ___ ____ ____________. ________ _________ ___ _________ ______ _______ _____ ____ ___ __ site fxcodebase.com.
R_ALLOWEDSIDE=____________ ______
R_ALLOWEDSIDE_D=_ ____________ ______ ___ ______________ __________ _ ______ _______, ______ __ _____ _ ______, _ _____ _ ___ __ ___.
R_BOTH=___ __ ___
R_USE_TRAILING_STOP=__________ __________ stop

[pol]
codepage=1250
R_NAME=Strategia pojedynczej _redniej krocz_cej
R_DESCRIPTION=Strategia zajmowania pozycji d_ugiej, kiedy szybka _rednia krocz_ca przebija si_ ponad woln_ _redni_, pozycja krótka - kiedy szybka _rednia krocz_ca przebija si_ pod woln_ _redni_.
R_PARAMS_FMA=Parametry szybkiej _redniej krocz_cej
R_PARAMS_SMA=Parametry wolnej _redniej krocz_cej
R_MA_METHOD=Metoda obliczania _redniej
R_MA_METHOD_D=Metody oznaczone gwiazdk_ (*) musz_ zosta_ za_adowane ze strony fxcodebase.com i zainstalowane.
R_MA_N=Liczba s_upków
R_MA_S=Przesu_
R_MA_S_D=Przesu_ _redni_ krocz_c_ do przodu o okre_lon_ liczb_ s_upków.
R_MA_P=Kurs
R_MA_P_OPEN=Otwarcie
R_MA_P_HIGH=Max
R_MA_P_LOW=Min
R_MA_P_CLOSE=Zamkni_cie
R_MA_P_MEDIAN=Mediana
R_MA_P_TYPICAL=Typowa
R_MA_P_WEIGHTED=Wa_ona
R_PARAMS_PRICE=Kurs
R_TF=Przedzia_ czasowy
R_TR_ALLOWED_D=Je_eli handel nie jest dozwolony, b_dzie pokazany alert zamiast rzeczywistej transakcji
R_YES=Tak
R_NO=Nie
R_AMOUNT=Kwota
R_TR_L=Okre_l limit zlecenia
R_TR_L_D=Ustaw 0 aby nie stosowa_ zlecenia Limit, lub ustaw preferowane oddalenie Limitu w pipsach.
R_TR_S=Okre_l zlecenie zatrzymania
R_TR_S_D=Ustaw 0 aby nie stosowa_ zlecenia Stop Ruchomy, lub ustaw preferowane oddalenie Stopu Ruchomego w pipsach.
R_LOT=Kwota transakcji
R_ERROR_TICK=Strategia nie mo_e by_ oparta na danych tick'owych
R_ERROR_ACCOUNT=Rachunek do zawierania transakcji musi by_ zdefiniowany
R_ERROR_OFFER=Zdefiniowane zlecenie nie zosta_o znalezione
R_ERROR_METHOD=Wybrana metoda _rednich krocz_cych nie jest zainstalowana. Prosz_ odwiedzi_ stron_ fxcodebase.com aby pobra_ odpowiednia metod_ _rednich krocz_cych.
R_ALLOWEDSIDE=Wydzielona strona:
R_ALLOWEDSIDE_D=Wydzielona strona dla hadlu lub sygnalizowania, mo_e by_ Sprzedaj, Kupuj lub Oba
R_BOTH=Oba
R_USE_TRAILING_STOP=Ustaw zatrzymanie _ledzenia

[por]
codepage=1252
R_NAME=A estratégia de média móvel sample
R_DESCRIPTION=A estratégia entra em uma posição de compra quando a MM rapida cruza por cima da MM lenta, e entra em venda quando a MM rapida cruza debaixo da MM lenta.
R_PARAMS_FMA=Parâmetros da Média Móvel Rápida
R_PARAMS_SMA=Parâmetros da Média Móvel Lenta
R_MA_METHOD=Método de Média Móvel
R_MA_METHOD_D=Os métodos marcados com um asterisco (*) devem ser carregados do site fxcodebase.com.
R_MA_N=O numero de barras
R_MA_S=Deslocação
R_MA_S_D=Deslocação futura do valor da média móvel expressado em barras.
R_MA_P=Preço
R_MA_P_OPEN=Abertura
R_MA_P_HIGH=Alto
R_MA_P_LOW=Baixo
R_MA_P_CLOSE=Fecho
R_MA_P_MEDIAN=Mediana
R_MA_P_TYPICAL=Típica
R_MA_P_WEIGHTED=Ponderada
R_PARAMS_PRICE=Preço
R_TF=Prazo
R_TR_ALLOWED_D=Em caso de que a operação não é permitida, uma alerta será mostrada em vez de uma operação
R_YES=Sim
R_NO=Não
R_AMOUNT=Montante
R_TR_L=Definir ordem limite
R_TR_L_D=Inserir 0 para não estabelecer uma ordem de limite ou inserir uma distância do limite em pips.
R_TR_S=Definir ordem stop
R_TR_S_D=Inserir 0 para não estabelecer uma ordem de stop ou inserir uma distância do stop em pips.
R_LOT=Montante para operar.
R_ERROR_TICK=A estratégia não pode ser aplicada em ticks.
R_ERROR_ACCOUNT=A conta de operação deve ser escolhida.
R_ERROR_OFFER=A oferta escolhida não foi encontrada.
R_ERROR_METHOD=O método de média móvel selecionado não foi instalado. Por favor, entre no site fxcodebase.com para baixar o método de média móvel apropriado.
R_ALLOWEDSIDE=Lado permitido
R_ALLOWEDSIDE_D=Lado permitido para operações ou sinalização, pode ser Vender, Comprar ou Ambos
R_BOTH=Ambos
R_USE_TRAILING_STOP=Definir stop móvel

[tur]
codepage=1254
R_NAME=Örnek hareketli ortalama stratejisi
R_DESCRIPTION=Strateji, h_zl_ HO yava_ HO’yu yukar_ kesti_inde al__, yava_ HO h_zl_ HO’yu a_a__ kesti_inde ise sat__ emri girmektedir.
R_PARAMS_FMA=H_zl_ Hareketli Ortalama Parametreleri
R_PARAMS_SMA=Yava_ Hareketli Ortalama Parametreleri
R_MA_METHOD=Hareketli Ortalama Yöntemi
R_MA_METHOD_D=Asterisk(*) ile i_aretlenmi_ olan yöntemler fxcodebase.com sitesinden indirilmeli ve kaydedilmelidir.
R_MA_N=Çubuk say_s_
R_MA_S=Kayd_rma
R_MA_S_D=Hareketli ortalama de_erinin sonraki çubu_a do_ru kayd_r_lmas_.
R_MA_P=Fiyat
R_MA_P_OPEN=Aç_l__
R_MA_P_HIGH=En Yüksek
R_MA_P_LOW=En Dü_ük
R_MA_P_CLOSE=Kapan__
R_MA_P_MEDIAN=Medyan
R_MA_P_TYPICAL=Tipik
R_MA_P_WEIGHTED=A__rl_kl_
R_PARAMS_PRICE=Fiyat
R_TF=Zaman dilimi
R_TR_ALLOWED_D=Al_m sat_ma izin verilmemesi durumunda gerçek al_m sat_m yerine bir uyar_ görüntülenecektir.
R_YES=Evet
R_NO=Hay_r
R_AMOUNT=Miktar
R_TR_L=Limit emrini belirle
R_TR_L_D=__lemlerinize limit emri girmemek için 0'_ seçin ya da pip cinsinden bir limit uzakl___ girin.
R_TR_S=Stop emrini belirle
R_TR_S_D=__lemlerinize stop emri girmemek için 0'_ seçin ya da pip cinsinden bir ilk stop uzakl___ girin.
R_LOT=Al_m sat_m yap_lacak miktar.
R_ERROR_TICK=Strateji tik verisiyle uygulanam_yor.
R_ERROR_ACCOUNT=Al_m sat_m yap_lacak hesap seçilmeli.
R_ERROR_OFFER=Seçilen teklif bulunamad_.
R_ERROR_METHOD=Seçilen hareketli ortalama yöntemi yüklenmemi_. Lütfen fxcodebase.com sitesinden uygun olan hareketli ortalama yöntemini indiriniz.
R_ALLOWEDSIDE=_zin verilen i_lem yönü
R_ALLOWEDSIDE_D=Al_m sat_m ya da sinyaller için izin verilen i_lem yönünü gösterir. Sat__, Al__ ya da Her ikisi olabilir.
R_BOTH=Her ikisi
R_USE_TRAILING_STOP=_zsüren stobu belirle

[ita]
codepage=1252
R_NAME=La strategia di media mobile semplice
R_DESCRIPTION=Ingressi long quando la MA veloce incorcia a rialzo la MA lenta e ingressi short quando la MA veloce incrocia a ribasso la MA lenta.
R_PARAMS_FMA=Parametri Media Mobile veloce
R_PARAMS_SMA=Parametri Media Mobile lenta
R_MA_METHOD=Metodo Media Mobile
R_MA_METHOD_D=Le metodologie segnate con asterischi (*) devono essere scaricate ed installate dal sito fxcodebase.com.
R_MA_N=Il numero delle barre
R_MA_S=Spostare
R_MA_S_D=Spostamento espresso in barre del valore della media mobile in futuro.
R_MA_P=Prezzo:
R_MA_P_OPEN=Open
R_MA_P_HIGH=High
R_MA_P_LOW=Low
R_MA_P_CLOSE=Close
R_MA_P_MEDIAN=Mediana
R_MA_P_TYPICAL=Tipica
R_MA_P_WEIGHTED=Pesata
R_PARAMS_PRICE=Prezzo:
R_TF=Timeframe
R_TR_ALLOWED_D=In caso in cui il trading non sia permesso, sarà mostrato un alert invece di un trading attuale
R_YES=Yes
R_NO=No
R_AMOUNT=Importo
R_TR_L=Imposta l'ordine limit
R_TR_L_D=Imposta 0 per non impostare ordine limit alla posizione o imposta una distanza limit in pips.
R_TR_S=Imposta l'ordine stop
R_TR_S_D=Imposta 0 per non impostare ordine stop alla posizione o imposta una distanza stop in pips.
R_LOT=Importo da scambiare
R_ERROR_TICK=La strategia non può essere aoolicata in ticks.
R_ERROR_ACCOUNT=Deve essere scelto il conto di trading
R_ERROR_OFFER=L'offerta scelta non è trovata.
R_ERROR_METHOD=Il metodo media mobile scelto non è installato. Per cortesia usa fxcodebase.com per scaricare il correto metodo media mobili.
R_ALLOWEDSIDE=Lato consentito
R_ALLOWEDSIDE_D=I lati consentiti per il trading o per i segnali possono essere Sell, Buy o Entrambi
R_BOTH=Entrambi
R_USE_TRAILING_STOP=Imposta il trailing stop

[heb]
codepage=1255
R_NAME=_________ _____ __ ____.
R_DESCRIPTION=_________ _____ _____ ____ _____ __ ____ ____ ___ _____ __ ____, ______ _____ ____ _____ __ ____ ____ ____ _____ __ ____
R_PARAMS_FMA=_____ _____ __ ____
R_PARAMS_SMA=_____ _____ __ ____
R_MA_METHOD=____ _____ __
R_MA_METHOD_D=__ ______ __ _____ _______ _______ (*) ____ fxcodebase.com ________
R_MA_N=____ _______
R_MA_S=___
R_MA_S_D=___ __ ___ ______ ___ ____ _____ ______ _______.
R_MA_P=____
R_MA_P_OPEN=_____
R_MA_P_HIGH=___
R_MA_P_LOW=___
R_MA_P_CLOSE=_____
R_MA_P_MEDIAN=_____
R_MA_P_TYPICAL=_______
R_MA_P_WEIGHTED=______
R_PARAMS_PRICE=____
R_TF=_____ ___
R_TR_ALLOWED_D=_____ ______ ____ _____, _____ ____ _____ _____ _____.
R_YES=__
R_NO=__
R_AMOUNT=____
R_TR_L=____ _____ _____
R_TR_L_D=____ 0 ___ ___ ______ ______ _____ _______ __ ____ _____ ______ _______
R_TR_S=____ _____ ____
R_TR_S_D=____ 0 ___ ___ ______ ______ ____ _______ __ ____ ____ ______ _______
R_LOT=____ ____.
R_ERROR_TICK=__ ____ _____ __ _________ ___ __ _____.
R_ERROR_ACCOUNT=__ _____ __ _____ _____
R_ERROR_OFFER=__ _____ _____ ______
R_ERROR_METHOD=____ ______ ___ ______ __ ______. ___ ____ __ _____ ____ fxcodebase.com.
R_ALLOWEDSIDE=__ ____
R_ALLOWEDSIDE_D=__ ____ ____ ____ __ _____, ____ _____ _____, _____, __ _____
R_BOTH=_____
R_USE_TRAILING_STOP=____ ____ _____

[deu]
codepage=1252
R_NAME=Die gleitende Durchschnittsstrategie
R_DESCRIPTION=Die Strategie geht Long wenn der schnelle gleitende Durschnitt über den langsamen gleitenden Durschnitt kreuzt, und geht Short wenn der schnelle gleitende Durschnitt unter dem langsamen gleitenden Durschnitt fällt.
R_PARAMS_FMA=Parameter für einen schnellen gleitenden Durschnitt
R_PARAMS_SMA=Parameter für einen langsamen gleitenden Durschnitt
R_MA_METHOD=Methode für gleitenden Durschnitt
R_MA_METHOD_D=Die Methoden welche mit einem Sternchen markiert sind müssen von der fxcodebase.com Webseite heruntergeladen und installiert werden.
R_MA_N=Die Anzahl an Bars
R_MA_S=Wechsel
R_MA_S_D=Wechsel des gleitenden Durschnitts dargestellt als Bars
R_MA_P=Preis
R_MA_P_OPEN=Eröffnung
R_MA_P_HIGH=Hoch
R_MA_P_LOW=Tief
R_MA_P_CLOSE=Schluss
R_MA_P_MEDIAN=Median
R_MA_P_TYPICAL=Typisch
R_MA_P_WEIGHTED=Gewichtet
R_PARAMS_PRICE=Preis
R_TF=Zeitraum
R_TR_ALLOWED_D=Im Fall, dass der Handel nicht erlaubt ist, wird anstelle eines richtigen Trades eine Warnmeldung angezeigt
R_YES=Ja
R_NO=Nein
R_AMOUNT=Betrag
R_TR_L=Limit Order setzen
R_TR_L_D=Belassen Sie den Eintrag bei 0 um keine Limit Order zu setzen oder tragen Sie einen Abstand in Pips für Ihre Limit Order ein
R_TR_S=Stop Order setzen
R_TR_S_D=Belassen Sie den Eintrag bei 0 um keine Stop Order zu setzen oder tragen Sie einen Abstand in Pips für Ihre initiale Stop Order ein
R_LOT=Betrag zum traden
R_ERROR_TICK=Diese Strategie kann nicht auf Ticks angewendet werden.
R_ERROR_ACCOUNT=Das Konto zum handeln muss ausgewählt werden
R_ERROR_OFFER=Das ausgewählte Angebot konnte nicht gefunden werden
R_ERROR_METHOD=Die ausgewählte gleitende Durschnitt Methode konnte nicht installiert werden. Bitte laden Sie die entsprechende Methode von der fxcodebase.com Webseite herunter.
R_ALLOWEDSIDE=Erlaubte Seite
R_ALLOWEDSIDE_D=Erlaubte Seite zum Handeln oder Signalisieren, kann Kauf oder Verkauf oder beides sein
R_BOTH=Beides
R_USE_TRAILING_STOP=Trailing Stop setzen

[jpn]
codepage=932
R_NAME=______
R_DESCRIPTION=____________________________________________________________________
R_PARAMS_FMA=_____________
R_PARAMS_SMA=_____________
R_MA_METHOD=________
R_MA_METHOD_D=__________________Fxcodebase___________________
R_MA_N=___
R_MA_S=___
R_MA_S_D=Shift of the moving average value into the future expressed in periods.
R_MA_P=___
R_MA_P_OPEN=__
R_MA_P_HIGH=__
R_MA_P_LOW=__
R_MA_P_CLOSE=__
R_MA_P_MEDIAN=_______+___/2_
R_MA_P_TYPICAL=___(__+__+__)/3)
R_MA_P_WEIGHTED=__
R_PARAMS_PRICE=___
R_TF=_______
R_TR_ALLOWED_D=________________________
R_YES=__
R_NO=__
R_AMOUNT=___
R_TR_L=____________
R_TR_L_D=______________________________
R_TR_S=____________
R_TR_S_D=______________________________
R_LOT=___
R_ERROR_TICK=_____________________
R_ERROR_ACCOUNT=_____________
R_ERROR_OFFER=____________________
R_ERROR_METHOD=__________________Fxcodebase.com___________________
R_ALLOWEDSIDE=______
R_ALLOWEDSIDE_D=_____________
R_BOTH=___
R_USE_TRAILING_STOP=________

[hun]
codepage=0
R_NAME=Egyszer_ Mozgóátlag Stratégia
R_DESCRIPTION=Vétel ha a gyorsabb mozgóátlag alulról metszi a lassabb mozgóátlagot, Eladás ha a gyors mozgóátlag felülr_l metszi a lassabb mozgóátlagot.
R_PARAMS_FMA=Gyors Mozgóátlag periódusa
R_PARAMS_SMA=Lassú Mozgóátlag periódusa
R_MA_METHOD=Mozgóátlag Módszer
R_MA_METHOD_D=Az asterisk(*) metódust le kell tölteni az FXCodeBase honlapjáról és telepíteni kell.
R_MA_N=Periódusok száma
R_MA_S=Eltolás
R_MA_S_D=A mozgóátlag x periódussal való eltolása a jöv_be.
R_MA_P=Árfolyam:
R_MA_P_OPEN=Nyitóár
R_MA_P_HIGH=Csúcspont
R_MA_P_LOW=Mélypont
R_MA_P_CLOSE=Záróár
R_MA_P_MEDIAN=Medián
R_MA_P_TYPICAL=Tipikus ár
R_MA_P_WEIGHTED=Súlyozott ár
R_PARAMS_PRICE=Árfolyam
R_TF=Id_sík
R_TR_ALLOWED_D=Ha a kereskedést nem engedélyezi akkor kereskedési jelzéseket kap a tényleges kötés helyett.
R_YES=Igen
R_NO=Nem
R_AMOUNT=Mennyiség
R_TR_L=Limit beállítása
R_TR_L_D=Állítsa 0-ra ha nem kíván limitmegbízást adni vagy a távolságot Pip-ekben kívánja megadni.
R_TR_S=Követ_ Stop beállítása
R_TR_S_D=Állítsa 0-ra ha nem kíván stop megbízást adni vagy ha egy bizonyos Pip-ekben mért távolságban kívánja használni.
R_LOT=Kereskedni kívánt mennyiség
R_ERROR_TICK=A stratégia tick típusú grafikonon nem alkalmazható.
R_ERROR_ACCOUNT=A kereskedési számlát ki kell választani.
R_ERROR_OFFER=A keresett instrumentum nem található.
R_ERROR_METHOD=A kiválasztott MA mód nincs telepítve. Kérem, töltse le a fxcodebase.com oldalról a megfelel_ mozgóátlag metódust.
R_ALLOWEDSIDE=Megengedett oldal
R_ALLOWEDSIDE_D=Kereskedésre vagy szignálok szolgáltatásokra használható alkalmazás. Adhat vételi és eladási jelzéseket is.
R_BOTH=Mindkett_
R_USE_TRAILING_STOP=Használjon követ_ stoppot

